[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
aniso8601 = "*"
certifi = "*"
chardet = "*"
click = "*"
decorator = "*"
dnspython = "*"
docopt = "*"
docutils = "*"
fett = "*"
greenlet = "*"
idna = "*"
itsdangerous = "*"
mimesis = "*"
networkx = "*"
pika = "*"
psycopg2-binary = "*"
pymongo = "*"
python-dateutil = "*"
python-editor = "*"
python-jsonrpc-server = "*"
pytz = "*"
requests = "*"
six = "*"
snooty-lextudio = "*"
toml = "*"
typing-extensions = "*"
ujson = "*"
urllib3 = "*"
watchdog = "*"
Flask = "*"
Flask-Migrate = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
PyYAML = "*"
SQLAlchemy = "*"
Werkzeug = "*"
uWSGI = "*"

[dev-packages]

[requires]
python_version = "3.8"
